:root {
  --panel-bg: rgb(0 0 0); /* bg-slate-400 */
  --panel-text: rgb(255 255 255); /* bg-neutral-800 */
  --btn-primary-bg: rgb(85, 252, 39); /* bg-slate-600 */
  --btn-primary-bg-hover: rgb(0 0 0); /* bg-slate-700 */
  --btn-primary-text: rgb(100 100 100); /* text-slate-200 */
  --btn-secondary-bg: rgb(38 38 38); /* bg-neutral-800 */
  --btn-secondary-bg-hover: rgb(64 64 64); /* bg-neutral-600 */
  --btn-secondary-text: rgb(255 255 255); /* text-slate-300 */
  --btn-border-radius: 0.5rem; /* rounded-lg */
}
